html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.table-calendar td {
        width: 14.285714285714285%;
        text-align: center;
    }
}

.bt-white-style {
    color: white!important;
}

.form-group {
    margin: 0px;
    padding: 0px;
}

.table-calendar {
    margin-bottom: 50px;
}

.form-control-calendar {
    padding-left: 22%;
}

.table-calendar > tbody > tr > td {
    border-top: none;
}

.dia-per-calendario {
    display: flex;
    flex-direction: column;
}

.form-group-turma{
    float: none;
    margin: 0 auto;
}

.form-group-turma label{
    text-align: center;
    width: 100%;
}

.header {
    margin-top: 0;
}

.table-text-right{
    text-align: right;
}

.table-text-left{
    text-align: left;
}

.btn-salvar-center {
    left: calc(50% - 66.5px);
}

.horarios-table > tbody > tr > td{
    line-height: 2.2;
}

.pagination {
    padding-left: calc(50% - 83px);
}

.pagination > li > a {
    color: #009688;
}

.pagination > .active > span {
    background-color: #009688;
    border-color: #009688;
}

.pagination > .active > span:hover {
    background-color: #009688;
    border-color: #009688;   
}

.btn {
    padding: 7px 15px;
    margin: 0;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    left: 93%;
    top: -8%;
    display: none;
    position: absolute;
    float: right;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a:hover {
    background-color: #eee;
}

.image-home-logo {
    width: 100%;
}

.btn-itens {
    max-width: 200px;
    width: 100%;
}

.btn-padding {
    padding: 8px 30px!important;
}

.icon-existe {
    font-size: 20px;
    margin-right: 7px;
}

@media only screen and (max-width: 590px){
    .table-mobile{
        display: none;
    }

    .well-none{
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        padding: 0!important;
    }
    
    .pagination{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 60px;
        display: block;
    }
}