html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.table-calendar td {
        width: 14.285714285714285%;
        text-align: center;
    }
}

.bt-white-style {
    color: white!important;
}

.form-group {
    margin: 0px;
    padding: 0px;
}

.table-calendar {
    margin-bottom: 50px;
}

.form-control-calendar {
    padding-left: 22%;
}

.table-calendar > tbody > tr > td {
    border-top: none;
}

.dia-per-calendario {
    display: flex;
    flex-direction: column;
}

.form-group-turma{
    float: none;
    margin: 0 auto;
}

.form-group-turma label{
    text-align: center;
    width: 100%;
}

.header {
    margin-top: 0;
}

.table-text-right{
    text-align: right;
}


@media only screen and (max-width: 590px){
    .table-mobile{
        display: none;
    }

    .well-none{
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        padding: 0!important;
    }
    
    .pagination{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 60px;
        display: block;
    }
}